In [1]:
import pandas as pd
import geopandas as gpd 
import matplotlib.pyplot as plt 
import contextily as ctx
import numpy as np
import quilt3
from geopandas_view import view

In [2]:
SEDA = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/seda_cov_school_poolyr_4.0.csv")

In [3]:
SEDA

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
0,10000500870,2009,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.066071,0.546429,0.547237,"Town, Fringe",NaN,NaN,NaN,NaN,NaN,280.000000
1,10000500870,2010,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.073864,0.606061,0.588803,"Town, Distant",NaN,NaN,NaN,NaN,NaN,263.000000
2,10000500870,2011,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.049296,0.647887,0.643357,"Town, Distant",NaN,NaN,NaN,NaN,NaN,284.000000
3,10000500870,2012,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.082237,0.644737,0.641322,"Town, Distant",0.099836,0.088380,0.081833,0.0,0.0,303.500000
4,10000500870,2013,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.057096,0.601958,0.633058,"Town, Distant",NaN,NaN,NaN,NaN,NaN,306.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746818,720003002084,2014,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.075221,0.920354,0.983051,"City, Large",NaN,NaN,NaN,NaN,NaN,55.000000
746819,720003002084,2015,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.087379,0.902913,1.000000,"City, Large",NaN,NaN,NaN,NaN,NaN,43.000000
746820,720003002084,2016,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.085714,0.891429,1.000000,"City, Large",NaN,NaN,NaN,NaN,NaN,37.000000
746821,720003002084,2017,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.069565,0.860870,0.953917,"City, Large",NaN,NaN,NaN,NaN,NaN,28.000000
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.0,0.0,41.333332

In [4]:
type(SEDA)

pandas.core.frame.DataFrame

In [5]:
SEDA.shape

(746823, 31)

In [6]:
#CONTAINS 31 COLUMNS

In [7]:
SEDA.columns

Index(['sedasch', 'year', 'schnam', 'schcity', 'sedalea', 'fips', 'stateabb',
       'type', 'level', 'mingrd', 'maxgrd', 'charter', 'magnet', 'urbanicity',
       'totenrl', 'perwht', 'perind', 'perasn', 'perhsp', 'perblk', 'perfl',
       'perrl', 'perfrl', 'perecd', 'locale', 'lep', 'disab_tot',
       'disab_tot_idea', 'gifted_tot', 'sch_sped', 'avgrdall'],
      dtype='object')

In [8]:
SEDA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746823 entries, 0 to 746822
Data columns (total 31 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   sedasch         746823 non-null  int64
 1   year            746823 non-null  int64
 2   schnam          746823 non-null  object
 3   schcity         746810 non-null  object
 4   sedalea         746823 non-null  int64
 5   fips            746823 non-null  int64
 6   stateabb        746823 non-null  object
 7   type            746810 non-null  object
 8   level           746609 non-null  object
 9   mingrd          740278 non-null  float64
 10  maxgrd          740278 non-null  float64
 11  charter         746810 non-null  float64
 12  magnet          746810 non-null  float64
 13  urbanicity      746483 non-null  object
 14  totenrl         746823 non-null  float64
 15  perwht          746823 non-null  float64
 16  perind          746823 non-null  float64
 17  perasn          746823 non-null  float64
 18  perhsp          746823 non-null  float64
 19  perblk          746823 non-null  float64
 20  perfl           746823 non-null  float64
 21  perrl           746823 non-null  float64
 22  perfrl          746823 non-null  float64
 23  perecd          725101 non-null  float64
 24  locale          746483 non-null  object
 25  lep             286696 non-null  float64
 26  disab_tot       281485 non-null  float64
 27  disab_tot_idea  281513 non-null  float64
 28  gifted_tot      286672 non-null  float64
 29  sch_sped        286738 non-null  float64
 30  avgrdall        737196 non-null  float64
dtypes: float64(20), int64(4), object(7)
memory usage: 176.6+ MB

In [9]:
SEDA

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
0,10000500870,2009,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.066071,0.546429,0.547237,"Town, Fringe",NaN,NaN,NaN,NaN,NaN,280.000000
1,10000500870,2010,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.073864,0.606061,0.588803,"Town, Distant",NaN,NaN,NaN,NaN,NaN,263.000000
2,10000500870,2011,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.049296,0.647887,0.643357,"Town, Distant",NaN,NaN,NaN,NaN,NaN,284.000000
3,10000500870,2012,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.082237,0.644737,0.641322,"Town, Distant",0.099836,0.088380,0.081833,0.0,0.0,303.500000
4,10000500870,2013,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.057096,0.601958,0.633058,"Town, Distant",NaN,NaN,NaN,NaN,NaN,306.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746818,720003002084,2014,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.075221,0.920354,0.983051,"City, Large",NaN,NaN,NaN,NaN,NaN,55.000000
746819,720003002084,2015,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.087379,0.902913,1.000000,"City, Large",NaN,NaN,NaN,NaN,NaN,43.000000
746820,720003002084,2016,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.085714,0.891429,1.000000,"City, Large",NaN,NaN,NaN,NaN,NaN,37.000000
746821,720003002084,2017,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.069565,0.860870,0.953917,"City, Large",NaN,NaN,NaN,NaN,NaN,28.000000
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.0,0.0,41.333332

In [10]:
seda_2018yr = SEDA[SEDA.year == 2018]

In [11]:
seda_2018yr

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332

In [12]:
seda_2018yr.shape

(73345, 31)

In [13]:
seda_2018yr_riv = seda_2018yr[seda_2018yr['sedasch']=='06065']

In [14]:
seda_2018yr_riv

Empty DataFrame
Columns: [sedasch, year, schnam, schcity, sedalea, fips, stateabb, type, level, mingrd, maxgrd, charter, magnet, urbanicity, totenrl, perwht, perind, perasn, perhsp, perblk, perfl, perrl, perfrl, perecd, locale, lep, disab_tot, disab_tot_idea, gifted_tot, sch_sped, avgrdall]
Index: []

[0 rows x 31 columns]

In [15]:
seda_2018yr

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332

In [16]:
seda_2018yr_riv

Empty DataFrame
Columns: [sedasch, year, schnam, schcity, sedalea, fips, stateabb, type, level, mingrd, maxgrd, charter, magnet, urbanicity, totenrl, perwht, perind, perasn, perhsp, perblk, perfl, perrl, perfrl, perecd, locale, lep, disab_tot, disab_tot_idea, gifted_tot, sch_sped, avgrdall]
Index: []

[0 rows x 31 columns]

In [17]:
seda_2018yr

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332

In [18]:
seda_2018yr

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332

In [19]:
seda_2018yr_riverside = seda_2018yr[seda_2018yr['sedasch']=='06065']

In [20]:
seda_2018yr_riverside

Empty DataFrame
Columns: [sedasch, year, schnam, schcity, sedalea, fips, stateabb, type, level, mingrd, maxgrd, charter, magnet, urbanicity, totenrl, perwht, perind, perasn, perhsp, perblk, perfl, perrl, perfrl, perecd, locale, lep, disab_tot, disab_tot_idea, gifted_tot, sch_sped, avgrdall]
Index: []

[0 rows x 31 columns]

In [21]:
seda_2018yr

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332